name: Deploy to AWS

on:
  push:
    branches:
      - test  # Puede ser cualqama a la que est칠s haciendo push

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v2

      - name: Login en Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Construir y subir imagen a Docker Hub
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/lists-service:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/lists-service:latest

      - name: Conectar a AWS EC2 y desplegar
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_INSTANCE_1 }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "游 Iniciando despliegue en AWS EC2..."

            # Verificar si Docker est치 instalado y ejecutarlo si no est치
            if ! command -v docker &> /dev/null
            then
                echo "Docker no est치 instalado. Instalando..."
                sudo yum install -y docker
                sudo service docker start
            fi

            # Detener y eliminar el servicio si ya existe
            if sudo docker service ls --format '{{.Name}}' | grep -q lists-service; then
              echo " Deteniendo y eliminando servicio existente..."
              sudo docker service rm lists-service
            fi

            # Limpiar im치genes antiguas
            echo " Limpiando im치genes antiguas..."
            sudo docker image prune -af || true

            # Descargar la 칰ltima versi칩n de la imagen desde Docker Hub
            echo " Descargando nueva imagen..."
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/lists-service:latest

            # Crear el contenedor de Docker
            echo "游 Creando nuevo contenedor..."
            sudo docker run -d --name lists-service \
              --env DB_HOST=${{ secrets.DB_SERVER }} \
              --env DB_USER=${{ secrets.DB_USER }} \
              --env DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
              --env DB_NAME=${{ secrets.DB_NAME }} \
              -p 6000:6000 \
              ${{ secrets.DOCKER_USERNAME }}/lists-service:latest
